* {
  font-family: JetbrainsMono Nerd Font Propo;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: rgba(211, 211, 211, 0.4);
}

#workspaces {
  background: transparent;
  margin-left: 4px;
}

#workspaces button {
  color: rgba( 239, 237, 227, 0.3);
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button.active {
  color: #ffffff;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-docker {
  background-color: transparent;
  color: #ffffff;
}

#network.disconnected {
  color: #ff0000;
}
#clock {
}

#battery {
  color: #ffffff;
}

#battery.charging {
  color: #33ff00;
}

#battery.warning:not(.charging) {
  color: #ff3300;
}

#battery.critical:not(.charging) {
  color: #ff0000;
}

#backlight {
}

#backlight.max {
  color: #EFBF04;
}
#pulseaudio {
}

#custom-docker {
  color: #85c1dc;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  margin-right: 10;
  color: #e78284;
}

#custom-docker.docker {
  color: #85c1dc;
}

#custom-docker.docker-none {
  color: #737994;
}

#custom-docker.docker-error {
  color: #e78284;
}
